[data-label="Clears"]{
	background-color:#29ed26!important;
}
[data-label="Report%20to%20zatca"]{
	background-color:#29ed26!important;
}
[data-label="Zatca"] button{
	background-color:#182c54!important;
	color:white!important;
}
[data-label="%D9%87%D9%8A%D8%A6%D8%A9%20%D8%A7%D9%84%D8%B2%D9%83%D8%A7%D8%A9%20%D9%88%D8%A7%D9%84%D8%B6%D8%B1%D9%8A%D8%A8%D8%A9%20%D9%88%D8%A7%D9%84%D8%AC%D9%85%D8%A7%D8%B1%D9%83"] button{
	background-color:#182c54!important;
	color:white!important;
}
